.sidebarfriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebarimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    cursor: pointer;
}

.sidebarfriendname{
    font-weight: 300;
}